<div class="main-page">
  <mat-card class="welcome-card">
    <h1>Welcome to myFlix!</h1>
    <mat-icon>movie</mat-icon>
    <div class="welcome-button">
      <button
        mat-raised-button
        color="primary"
        class="login-button"
        (click)="openUserLoginDialog()"
      >
        Login
      </button>
      <p>Don't have an account?</p>
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        color="primary"
      >
        Sign Up
      </button>
    </div>
  </mat-card>
</div>
