.login-card {
    padding: 0 10px 10px 10px;
    // height: 320px;
    display:flex;
    justify-content: space-between;
    button {
        width: 100%;
    }
    mat-form-field{ 
        width: 100%
    }
}