.profile {
    padding-top:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 70px)
}

mat-card {
    width: 350px;
    padding: 0 10px 10px 10px;
    // height: 320px;
    display:flex;
    justify-content: space-between;
    button {
        width: 100%;
    }
    mat-form-field{ 
        width: 100%
    }
    form {
        margin-top: 10px;
    }
}